{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
        {% block title %} Lop hoc Online {% endblock %}
        {% block link %}
        {{ block.super }}
        <script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
        <script type="text/javascript" src="/static/js/tiny_mce/textareas.js"></script>
        <script src="{% static 'class_management/js/jquery2-1-1.js' %}"></script>
        <script src="{% static 'class_management/js/js.js' %}"></script>
        {% endblock %}
  </head>
{% block body %}

<input type="image" src="{% static 'class_management/images/browse.png' %}" width="48" height="48" class="browse">
<img id="image_class" src="#" alt="Preview" width="0" height="0"/>

<form enctype="multipart/form-data" method="post" action="">
	{% csrf_token %}
	{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
	{% endfor %}
    <input type="submit" value="Create" />
</form>
{% endblock %}


