{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %}Create Class{% endblock %}
{% block link %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript" src="/static/js/tiny_mce/textareas.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
{% endblock %}
{% block body %}
    <div id="create_class">
        <div id="add_class_form">
            <h1 class="title">CREATE CLASS</h1>
            <img id="image_class" src="/media/test/img-icon.png" alt="Preview" width="100" height="100"/>
            <form enctype="multipart/form-data" method="post" action="">
	           {% csrf_token %}
	           {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
	           {% endfor %}
                <input type="submit" value="Create Class" />
                <a href="{% url 'classes:classlist' %}">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}


