{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %}Create Test{% endblock %}
{% block link %}
    {{ block.super }}
	<script language="javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
    <link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
{% endblock %}
{% block body %}
    <div id="create_test" class="bg" style="overflow:hidden;min-height:900px;" >
        <div id="create_test_form" class="pull-right">
            <img class="image_ques" src="/media/test/img-icon.png" alt="Preview"/>
            <div id="img_error" class="text-danger"></div>
            <form enctype="multipart/form-data"  method="post" action="" id="add_ques" onsubmit="return false;" role="form">
	           {% csrf_token %}
                <input type="hidden" value={{ test.pk  }}/>
	           {% for field in form %}
                    <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                    </div>  
	           {% endfor %}
                
                <button class="btn btn-primary" onclick="tam()">Add Question</button>
                <a class="btn btn-default" href="{% url 'classes:detaillesson' chosen_class.pk chosen_lesson.pk %}" role="button">Done</a>
            </form>
        </div>
        <div id="testlist" style="padding-right: 15px; width: 50%">
            <h2 class="title">{{ chosen_test.test_name }} Exercise</h2>
            {% for question in question_list %}
                <div class="question">
                    <div class="row">
                <div class="col-md-5">
                    <div>
                        <span>{{ question.order_test }}. </span> {{ question.question }}
                    </div>
                    <ol style='list-style-type: upper-alpha'>
                        <li>{{ question.answerA }}</li>
                        <li>{{ question.answerB }}</li>
                        <li>{{ question.answerC }}</li>
                        <li>{{ question.answerD }}</li>
                    </ol>
                    <div> Right Answer : {{ question.right_answer }}</div> 
                </div>
                <div class="col-md-7">
                    {% if question.image_ques and question.image_ques != "False" %}
                        <img src="{{ question.image_ques.url }}" height=150 width=150/>
                    {% endif %}
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'class_management/js/js.js' %}"></script>
    <script>
    $(window).scroll(function () { 
       if ($(window).scrollTop()>880){
            $("#create_test_form").addClass("fixed_class");
        }
        else {
            $("#create_test_form").removeClass("fixed_class");
        }
});
    $( "input[name='right_answer']" ).parent().parent().parent().addClass( "list-inline" );
                $("#id_image_ques").parent().hide();
        $("#image_ques").click(function(){
        $("#id_image_ques").click();
        });
        var tam = function(){
            var data = new FormData($('form').get(0));
    	   $.ajax({
        		type:"POST",
        		url : "{% url 'classes:createtest' chosen_class.pk chosen_lesson.pk chosen_test.pk %}",
        		dataType: "json",
        		data : data,
                processData: false,
                contentType: false,
        		success : function(question_dict){
                    var html =  "<div class='question'><div class='row'>"
                            +   "<div class='col-md-5'><div>"
                            +       "<span>"+question_dict['order_test']+". </span>"+question_dict['question']
                            +   "</div>";
                        html+=   "<ol style='list-style-type: upper-alpha'>"
                            +       "<li>"+question_dict['answerA']+"</li>"
                            +       "<li>"+question_dict['answerB']+"</li>"
                            +       "<li>"+question_dict['answerC']+"</li>"
                            +       "<li>"+question_dict['answerD']+"</li>"
                            +   "</ol>"
                            +   "<div> Right Answer : "+question_dict['right_answer']+"</div></div><div class='col-md-7'>";
                            if (question_dict['image_ques']){
                        html+=  "<img src = '"+ question_dict['image_ques']+"' height=150 width=150 /></div></div>";
                    }
        			$("#testlist").append(html);
            $(".image_ques").attr("src", "/media/test/img-icon.png");
            $("#id_question").val("");
            $("#id_answerA").val("");
            $("#id_answerB").val("");
            $("#id_answerC").val("");
            $("#id_answerD").val("");
            reset_form_element( $("#id_image_ques") );
            $('.errorlist').remove();
            $("#img_error").text("");
            $("input[name=right_answer]").prop('checked', false);
       			},
       			error: function(errors_dict){
                    var errors = JSON.parse(errors_dict.responseText);
                      $('.errorlist').remove();

                        for (error in errors) {
                            var id = '#id_' + error;
                            if (error=="right_answer") {
                                $("input[name=right_answer]").parent().parent().parent().parent().append("<div class='text-danger'>"+errors[error])+"</div>";
                            }
                            else{
                            $(id).parent().append("<div class='text-danger'>"+errors[error])+"</div>";
                        }
                        }
                        $("#img_error").text($("#id_image_ques").parent().find("li").text());

                        $('.errorlist').addClass("list-unstyled");
    			}
        		});
            return false;
    	};
        
    </script>
{% endblock %}