{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %}Create Test{% endblock %}
{% block link %}
    {{ block.super }}
	<style>
		ul li {
			display: inline;
		}
	</style>
	<script language="javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
    <link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
{% endblock %}
{% block body %}
    <div id="create_test">
        <div id="create_test_form">
            <img id="image_ques" src="/media/test/img-icon.png" alt="Preview" width="100" height="100"/>
            <form enctype="multipart/form-data"  method="post" action="" id="add_ques" onsubmit="return false;">
	           {% csrf_token %}
                <input type="hidden" value={{ test.pk  }}/>
	           {% for field in form %}
                    <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    </div>  
	           {% endfor %}
                <input type="button" value="Add Question" onclick="tam()"/>
                <a href="{% url 'classes:detaillesson' chosen_class.pk chosen_lesson.pk %}">Done</a>
            </form>
        </div>
        <div id="testlist">
            <h2 class="title">{{ chosen_test.test_name }} Exercise</h2>
            {% for question in question_list %}
                <div class="question">
                    <div>
                        <span>{{ question.order_test }}. </span> {{ question.question }}
                    </div>
                    {% if question.image_ques and question.image_ques != "False" %}
                        <img src="{{ question.image_ques.url }}" height=150 width=150/>
                    {% endif %}
                    <ol style='list-style-type: upper-alpha'>
                        <li>{{ question.answerA }}</li>
                        <li>{{ question.answerB }}</li>
                        <li>{{ question.answerC }}</li>
                        <li>{{ question.answerD }}</li>
                    </ol>
                    <div> Right Answer : {{ question.right_answer }}</div> 
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        var tam = function(){
            var data = new FormData($('form').get(0));
    	   $.ajax({
        		type:"POST",
        		url : "{% url 'classes:createtest' chosen_class.pk chosen_lesson.pk chosen_test.pk %}",
        		dataType: "json",
        		data : data,
                processData: false,
                contentType: false,
        		success : function(question_dict){
                    var html =  "<div class='question'><div>"
                            +       "<span>"+question_dict['order_test']+". </span>"+question_dict['question']
                            +   "</div>";
                if (question_dict['image_ques']){
                        html+=  "<img src = '"+ question_dict['image_ques']+"' height=150 width=150 />";
                    }
                        html+=   "<ol style='list-style-type: upper-alpha'>"
                            +       "<li>"+question_dict['answerA']+"</li>"
                            +       "<li>"+question_dict['answerB']+"</li>"
                            +       "<li>"+question_dict['answerC']+"</li>"
                            +       "<li>"+question_dict['answerD']+"</li>"
                            +   "</ol>"
                            +   "<div> Right Answer : "+question_dict['right_answer']+"</div></div>";
        			$("#testlist").append(html);
            $("#image_ques").attr("src", "/media/test/img-icon.png");
            $("#id_question").val("");
            $("#id_answerA").val("");
            $("#id_answerB").val("");
            $("#id_answerC").val("");
            $("#id_answerD").val("");
            reset_form_element( $("#id_image_ques") );
            $("input[name=right_answer]").prop('checked', false);
       			},
       			error: function(errors_dict){
                    var errors = JSON.parse(errors_dict.responseText);
                      $('.errorlist').remove();
                        for (error in errors) {
                            var id = '#id_' + error;
                            console.log(id);
                            $(id).parent().append(errors[error]);
                        }
    			}
        		});
            return false;
    	};
        function reset_form_element (e) {
    e.wrap('<form>').parent('form').trigger('reset');
    e.unwrap();
    }
    </script>
{% endblock %}