{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %}Create Class{% endblock %}
{% block link %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript" src="/static/js/tiny_mce/textareas.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
{% endblock %}
{% block body %}
    <div id="create_class">
        <div id="add_class_form" class="bg">
            <h1 class="title">CREATE CLASS</h1>
            <img class ="pull-right image_class" src="/media/test/img-icon.png" alt="Preview"/>
            <div id="img_error" class="text-danger"></div>
            <form enctype="multipart/form-data" method="post" action="" role="form">
	           {% csrf_token %}
	           {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}<br/>{{ field }}
                        <div class="text-danger">
                        {{ field.errors }}
                        </div>
                    </div>
	           {% endfor %}
               <div class="pull-right">
                    <a class="btn btn-default" href="{% url 'classes:classlist' %}" role="button">Cancel</a>
                <button type="submit" class="btn btn-primary ">Create Class</button>
           </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'class_management/js/js.js' %}"></script>
<script>
    $("#navigation-ul li").removeClass("active");
        $("#managerli").addClass("active");
 $(".dropdown").addClass("active");
$("#img_error").text($("#id_image_class").parent().find("li").text());
$("#id_image_class").parent().hide();
</script>
{% endblock %}


