{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %}Class Detail{% endblock %}
{% block link %}
	 {{ block.super }}
	<script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript" src="/static/js/tiny_mce/textareas.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
{% endblock %}
{% block body %}
	<div id="detail_class">
		<div id="add_class_form">
			<h1 class="title">CLASS DETAIL</h1>
			{% if Chose_class.image_class and Chose_class.image_class != "False" %}
				<img src="{{ Chose_class.image_class.url }}" height=100 width=100 id="image_class"/>
			{% else %}
				<img src="{% static 'class_management/images/classroom.jpg' %}" height=100 width=100 id="image_class"/>
			{% endif %}
			<form enctype="multipart/form-data" method="post" action="">
				{% csrf_token %}
				{% for field in form %}
    				<div class="fieldWrapper">
        				{{ field.errors }}
        				{{ field.label_tag }} {{ field }}
    				</div>
				{% endfor %}
    			<input type="submit" value="Update"/>
			</form>
			<a href = "{% url 'classes:deleteclass' Chose_class.id %} " id="del_class"><img src="{% static 'class_management/images/Delete-Class-icon.png' %}" title="Delete Class" width="58" height="58" ></a>
		</div>
		<div class="lesson">
			<a href = "{% url 'classes:createlesson' Chose_class.id %}"><image src="{% static 'class_management/images/Add-Lesson-icon.png' %}" title="Create Lesson" height=50 width=50/></a>
			<div id="lesson-list" >
				{% if lesson_list|length == 0 %}
					<div class="nonhaving">You Aren't Having Any Lesson. Let's Create Lesson!</div>
				{% else %}
					{% for lesson in lesson_list %}
	    				<a class="lesson_wrapper" href="{% url 'classes:detaillesson' Chose_class.id lesson.id %}">
	    				<p>{{ lesson.lesson_name }}</p>
	    				<div class="shortcut">{{ lesson.description|safe|lower|slice:":20" }}</div>
	    				<p class="date">Create Date {{ lesson.create_date|date:"H:i d/m/Y" }}</p>
	    				<p class="date">Update Date {{ lesson.latest_update_date|date:"H:i d/m/Y" }}</p>
	    				</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script>
		$("#del_class").click(function(){
			if (confirm("Everything relating to This Class will be deleted too!\nAre you sure you want to delete This Class? ")){
				return true;
			}
			return false;
		});
	</script>
{% endblock %}