{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %}Lesson Detail{% endblock %}
{% block link %}
	{{ block.super }}
	<script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript" src="/static/js/tiny_mce/textareas.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
{% endblock %}
{% block body %}
	<div id="detail_lesson" class="bg">
		<div id="detail_lesson_form">
			<h1 class="title">LESSON DETAIL</h1>
			<div class="row">
				<div class="col-md-6">
			<iframe id = "video_link" width="515" height="345" style="margin-top: 25px;" src="{{ chosen_lesson.video_link }}" >
			</iframe>
			</div>
				<div class="col-md-6">
			<form method="post" action="" role="form" >
				{% csrf_token %}
				{% for field in form %}
	    		<div class="form-group">
	    			{{ field.label_tag }}<br/>{{ field }}
                        <div class="text-danger">
                        {{ field.errors }}
                        </div>
	    		</div>  
				{% endfor %}
				<div class="pull-right">
                    <a class="btn btn-default" href="{% url 'classes:detailclass' chosen_class.pk %}" role="button">Cancel</a>
                <button type="submit" class="btn btn-success" name="lesson">Update Lesson</button>
            </div>
			</form>
		</div>
		</div>
		<button class="btn btn-danger btn-block delete_btn2" data-toggle="modal" data-target="#myModal">DELETE LESSON</button>
		<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title" id="myModalLabel">DELETE CLASS</h4>
			      </div>
			      <div class="modal-body">
			        Everything relating to This Lesson will be deleted too!<br/>Are you sure you want to delete This Lesson?
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <a class="btn btn-danger" href="{% url 'classes:deletelesson' chosen_class.pk chosen_lesson.id %}" role="button">Delete Class</a>
			      </div>
			    </div>
			  </div>
			</div>
		<div id="detail_test">
			<div id="add_test_form2">
				<form method="post" action="" role="form">
			 		{% csrf_token %} 
			 		{% for field in formtest %}
						<div class="form-group">
	    			{{ field.label_tag }}<br/>{{ field }}
                        <div class="text-danger">
                        {{ field.errors }}
                        </div>
	    		</div> 
			 		{% endfor %} 
			 		 <button type="submit" class="btn btn-primary" name="test">Add Exercise</button>
				</form>
			</div>
			<div id="test_list">
				<h2 class="title">EXERCISE LIST</h2>
				{% if test_list|length == 0 %}
					<div class="alert alert-info nonhaving" role="alert">
					You Aren't Having Any Exercise. Let's Create Excercise!</div>
				{% else %}
				 	{% for test in test_list %} 
				 		<a class="test_wrapper" href="{% url 'classes:detailtest' chosen_class.pk chosen_lesson.id test.id %}">
							<p class="test_name">{{ test.test_name }}</p>
							<p class="date">Create Date {{ test.create_date|date:"H:i d/m/Y" }}</p>
							<p class="date">Update Date {{ test.latest_update_date|date:"H:i d/m/Y" }}</p>
						</a>
					{% endfor %}
					<div class="pagination">
    <span class="step-links">
        {% if test_list.has_previous %}
            <a href="?page={{ test_list.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ test_list.number }} of {{ test_list.paginator.num_pages }}
        </span>

        {% if test_list.has_next %}
            <a href="?page={{ test_list.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script src="{% static 'class_management/js/js.js' %}"></script>
	<script> 
	$("#navigation-ul li").removeClass("active");
        $("#managerli").addClass("active");
	$(".dropdown").addClass("active");
		$("#id_video_link").change(function(){
			$("#video_link").attr('src', $('#id_video_link').val());
		});
	</script>
{% endblock %}
