{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %}Test Detail{% endblock %}
{% block link %}
    {{ block.super }}
    <script language="javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
    <link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% endblock %}
{% block body %}
    <div id="detail_test" class="bg" style="overflow: hidden; padding: 10px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);">
         <a href="{% url 'classes:detaillesson' chosen_class.pk chosen_lesson.pk %}" role="button" class="btn btn-info">BACK</a>
        <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">DELETE TEST</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">DELETE TEST</h4>
                  </div>
                  <div class="modal-body">
                    Everything relating to This Test will be deleted too!<br/>Are you sure you want to delete This Test?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger" href="{% url 'classes:deletetest' chosen_class.pk chosen_lesson.pk chosen_test.pk %}" role="button">Delete Test</a>
                  </div>
                </div>
              </div>
            </div>
        <button class="btn btn-primary" id="add_text" >ADD QUESTION</button>
        
       
       
        <div id="add_test_form" class="pull-right">
            <form enctype="multipart/form-data" method="post" action="" id="add_ques" onsubmit="return false;" role="form">
	           {% csrf_token %} 
                <input type="hidden" id="id" value=""/>
                <img class="image_ques" src="/media/test/img-icon.png" alt="Preview"/>
                <div id="img_error" class="text-danger error_test_form"></div>
	           {% for field in form %}
    	           <div class="form-group" style="position: relative;">
                        {{ field.label_tag }} {{ field }}
                        <div class="text-danger error_test_form"></div>
    	           </div>
	           {% endfor %} 
                <input type="button" value="Add Question"  id="add_question"  onclick="addquestion()" class="btn btn-primary"/>
                <input type="button" value="Edit Question"  id="update_question" onclick="updatequestion()" class="btn btn-success"/>
                <input type="button" value="Cancel" id="done_text" class="btn btn-warning" />
            </form>

            

            
        </div>
        <div id="testlist" style="width: 52%; margin-left: 320px;">
            <h2 style="text-align: center;color: rgb(190, 24, 97);">{{ chosen_test.test_name }} EXERCISE </h2>
            {% if question_list|length == 0 %}
                <div class="alert alert-info nonhaving" role="alert">
                    You Aren't Having Any Question in This Exercise!</div>
            {% else %}
                {% for question in question_list %}
                    <div id="{{ question.order_test }}" class="row question">
                        <div class="col-md-3">
                        <div>
    			             <span class="id_test">{{ question.order_test }}</span><span>. </span> <span class="id_question_test">{{ question.question }}</span>
                        </div>
                        
                        <ol style='list-style-type: upper-alpha'>
                            <li class="id_answerA_test">{{ question.answerA }}</li>
                            <li class="id_answerB_test">{{ question.answerB }}</li>
                            <li class="id_answerC_test">{{ question.answerC }}</li>
                            <li class="id_answerD_test">{{ question.answerD }}</li>
                        </ol>
                        <div>
        			     Right Answer: <span class="id_right_answer_test">{{ question.right_answer }}</span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        {% if question.image_ques and question.image_ques != "False" %} 
                            <img src="{{ question.image_ques.url }}" height=150 width=150/>
                        {% else %}
                            <img src="#" height=0 width=0/>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <div class="option bs-callout">
                            <button class="btn btn-success edit_text" style="margin-bottom: 10px;" onclick="upevent($(this));">Edit Question</button>
                            <button class="btn btn-danger del_text" >Delete Question</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div id="del_dialog" title="Delete Question">
<p>Are You Sure You Want to Detele This Question?</p>
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'class_management/js/js.js' %}"></script>
    <script>
    $("#navigation-ul li").removeClass("active");
        $("#managerli").addClass("active");
    $(".dropdown").addClass("active");
    $(window).scroll(function () { 
       if ($(window).scrollTop()>340 && ($("#footer").height()) < ($(document).height() - $(window).scrollTop() - $(window).height()) + 15) {
         $("#add_test_form").css("top", '');
        $("#add_test_form").addClass("fixed_class");
        } else if(($("#footer").height()) >= ($(document).height() - $(window).scrollTop() - $(window).height())){
            $("#add_test_form").addClass("fixed_class");
            $("#add_test_form").css("top",($("#footer").height() + 15- ($(document).height() - $(window).scrollTop() - $(window).height()) ) * -1);
        }
        else {
            $("#add_test_form").removeClass("fixed_class");
        }
});
    $( "input[name='right_answer']" ).parent().parent().parent().addClass( "list-inline" );
    $("#id_image_ques").parent().hide();
    $("#image_ques").click(function(){
        $("#id_image_ques").click();
    });
    $('#add_test_form').hide();

    $('#add_text').click(function(){
        $('.error_test_form').hide();
        $(".image_ques").attr('src', '/media/test/img-icon.png');
            $("#id_question").val("");
            $("#id_answerA").val("");
            $("#id_answerB").val("");
            $("#id_answerC").val("");
            $("#id_answerD").val("");
            reset_form_element( $("#id_image_ques") );
            $("input[name=right_answer]").prop('checked', false);
        $("#testlist").animate({
            'margin-left': '20px',
        }, "slow");
        $('#add_test_form').show('slow');
        $('#add_question').show('slow');
        $('#update_question').hide();
    });

     $('#done_text').click(function(){
        $("#add_test_form").hide();
         $("#testlist").animate({
            'margin-left': '320px'
        }, "slow");
     });
        $(".option").hide();
        $("#testlist").children().hover(function(){
            $(this).css("background-color", "rgb(239, 254, 255)");
            $(this).find(".option").show();
        }, function(){
            $(this).css('background-color', '');
            $(this).find(".option").hide();
        });
    $( "#del_dialog" ).dialog({
         resizable: false,
         modal: true,
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
      },
      buttons: {
        "Delete Question": function() {
         var id_question = $(".row").has($(this).data('del_button')).attr('id');
                    $.ajax({
                        type: "POST",
                        url: "{% url 'classes:deletequestion' chosen_test.pk %}",
                        dataType: "json",
                        data: { 
                            csrfmiddlewaretoken : '{{ csrf_token }}',
                            id : id_question },
                        success: function(question_dict) {
                            var siblings = $('#'+id_question).nextAll();
                            var len = siblings.length
                            for(var i = 0; i< len; i++){
                                var sibling = siblings[i];
                                var id_sibling = $(sibling).attr('id');
                                console.log("id_sibling"+id_sibling);
                                $(sibling).attr('id', id_sibling - 1);
                                $(sibling).find('.id_test').html(id_sibling -1);
                            }
                            $("#"+id_question).remove();
                        },
                    });
            $( this ).dialog( "close" );
    },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });
        $('.del_text').click(function() {
           $( "#del_dialog" ).data("del_button",$(this)).dialog("open" );
                   });
    var upevent = function(button){
        $('.error_test_form').hide();
        $("#testlist").animate({
            'margin-left': '20px'
        }, "slow");
        $('#add_test_form').show('slow');
        $('#add_question').hide();
        $('#update_question').show('slow');
            var item = button.parent().parent().parent();
            $('#id_question').html(item.find(".id_question_test").html());
            $("#id").val(item.find(".id_test").html());
            if (item.find('img').attr('src') != "#") $('.image_ques').attr('src', item.find('img').attr('src'));
            else $('.image_ques').attr('src', "/media/test/img-icon.png");
            $('#id_question').val(item.find(".id_question_test").html());
            $('#id_answerA').val(item.find(".id_answerA_test").html());
            $('#id_answerB').val(item.find(".id_answerB_test").html());
            $('#id_answerC').val(item.find(".id_answerC_test").html());
            $('#id_answerD').val(item.find(".id_answerD_test").html());
            $("input[name=right_answer][value=" + item.find(".id_right_answer_test").html() + "]").prop('checked', true);
    }

    var updatequestion = function() {
        var data = new FormData($('form').get(0));
        data.append('id', $("#id").val());
        $.ajax({
            type: "POST",
            url: "{% url 'classes:updatequestion' chosen_test.pk %}",
            dataType: "json",
            data: data,
            processData: false,
            contentType: false,
            success: function(question_dict) {
                var mom = $("#" + question_dict['order_test']);
                mom.find(".id_question_test").html(question_dict['question']);
                mom.find(".id_answerA_test").html(question_dict['answerA']);
                mom.find(".id_answerB_test").html(question_dict['answerB']);
                mom.find(".id_answerC_test").html(question_dict['answerC']);
                mom.find(".id_answerD_test").html(question_dict['answerD']);
                mom.find(".id_right_answer_test").html(question_dict['right_answer']);
                if (question_dict['image_ques']) {
                    mom.find('img').attr('src', question_dict['image_ques']).attr('height', '150').attr('width', '150');
                } else {
                    mom.find('img').attr('src', "#").attr('height', '0').attr('width', '0');
                }
                reset_form_element( $("#id_image_ques") );
                $('.error_test_form').hide();
            },
            error: function(errors_dict) {
                var errors = JSON.parse(errors_dict.responseText);
                     $('.error_test_form').hide();
                        for (error in errors) {
                            var id = '#id_' + error;

                            if (error=="right_answer") {
                                $("input[name=right_answer]").parent().parent().parent().parent().find(".error_test_form").html(errors[error]);
                                $("input[name=right_answer]").parent().parent().parent().parent().find(".error_test_form").show();

                            }else if(error == "image_ques"){
                                $("#img_error").html(errors[error]);
                                $("#img_error").show();
                                }
                            else{
                            $(id).parent().find(".error_test_form").html(errors[error]);
                            $(id).parent().find(".error_test_form").show();
                                }
                        }
                        $('.errorlist').addClass("list-unstyled");
                }
        });
        return false;
    };

    var addquestion = function() {
        var data = new FormData($('form').get(0));
        $.ajax({
            type: "POST",
            url: "{% url 'classes:createtest' chosen_class.pk chosen_lesson.pk chosen_test.pk %}",
            dataType: "json",
            data: data,
            processData: false,
            contentType: false,
            success: function(question_dict) {
                $(".nonhaving").remove();
                var html = "<div id="+question_dict['order_test']+" class='row question'>"
                        +"<div class='col-md-3'><div>" + "<span class='id_test'>" + question_dict['order_test'] + "</span>"
                        +"<span>. </span><span class='id_question_test'>" 
                        + question_dict['question'] + "</div>";
               
                html += "<ol style='list-style-type: upper-alpha'>" 
                            + "<li class='id_answerA_test'>"+question_dict['answerA']
                            + "</li>" 
                            + "<li class='id_answerB_test'>"+question_dict['answerB']
                            + "</li>" 
                            + "<li class='id_answerC_test'>"+question_dict['answerC']
                            + "</li>" 
                            + "<li class='id_answerD_test'>"+question_dict['answerD']
                            + "</li>" 
                        +"</ol>" 
                        + "<div> Right Answer: <span class='id_right_answer_test'>" 
                            + question_dict['right_answer']+"</span>"
                        +"</div></div>"
                        +"<div class='col-md-5'>";
                if (question_dict['image_ques']) {
                    html += "<img src = '" + question_dict['image_ques'] + "' height=150 width=150 />";
                } else {
                    html += "<img src = '#' height=0 width=0 />";
                }
                html += "</div><div class='col-md-4'>"
                      +  "<div class='option bs-callout'>"
                       +     "<button class='btn btn-success edit_text'"
                       +"style='margin-bottom: 10px;' onclick='upevent($(this));'>Edit Question</button>"
                       +" <button class='btn btn-danger del_text' >"
                       +"Delete Question</button> </div>     </div>   </div>";
            $("#testlist").append(html);
            $(".option").hide();
            $("#testlist").children().hover(function(){
            $(this).css("background-color", "rgb(239, 254, 255)");
            $(this).find(".option").show();
        }, function(){
            $(this).css('background-color', '');
            $(this).find(".option").hide();
        });
            $(".image_ques").attr('src', '/media/test/img-icon.png');
            $("#id_question").val("");
            $("#id_answerA").val("");
            $("#id_answerB").val("");
            $("#id_answerC").val("");
            $("#id_answerD").val("");
            reset_form_element( $("#id_image_ques") );
            $("input[name=right_answer]").prop('checked', false);
            $('.error_test_form').hide();
            },
            error: function(errors_dict) {
                var errors = JSON.parse(errors_dict.responseText);
                     $('.error_test_form').hide();
                        for (error in errors) {
                            var id = '#id_' + error;

                            if (error=="right_answer") {
                                $("input[name=right_answer]").parent().parent().parent().parent().find(".error_test_form").html(errors[error]);
                                $("input[name=right_answer]").parent().parent().parent().parent().find(".error_test_form").show();

                            }else if(error == "image_ques"){
                                $("#img_error").html(errors[error]);
                                $("#img_error").show();
                                }
                            else{
                            $(id).parent().find(".error_test_form").html(errors[error]);
                            $(id).parent().find(".error_test_form").show();
                                }
                        }
                        $('.errorlist').addClass("list-unstyled");
                }
                });
            return false;
    };
        </script>
    {% endblock %}
