{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %}Class Management{% endblock %}
{% block link %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
{% endblock %}
{% block body %}
	<div id="ones_classes" class="bg" style="overflow: hidden;">
		<a class="btn btn-primary" href="{% url 'classes:createclass' %}" role="button">ADD CLASS</a>
		<h1 class="title">CLASS LIST</h1>
		{% if ones_classes|length == 0 %}
			 <div class="alert alert-info nonhaving" role="alert">
                    You Aren't Having Any Class. Let's Create Class!</div>
		{% else %}
			{% for class in ones_classes %}
				{% if class.enable == 'T' %}
					<div class="class_in_list">
				{% else %}
					<div class="class_in_list block_class">
				{% endif %}
					{% if class.image_class and class.image_class != "False" %}
	    				<img src="{{ class.image_class.url }}" height=200 width=200/>
					{% else %}
						<img src="{% static 'class_management/images/classroom.jpg' %}" height=200 width=200/>
					{% endif %}
					<div class="hover_detail">
						<div class="class_name">{{ class.class_name }}</div>
						<div class="create_date_class">Create Date: {{ class.create_date|date:"d/m/Y" }}</div>
						<div class="btn-group btn-group-sm btgroupclass">
  				<a href="{% url 'classes:detailclass' class.id %}" class="btn btn-success" role="button">Lesson</a>
  				<a href="{% url 'classes:studentclass' class.id %}" class="btn btn-success" role="button">Student</a>
					</div>
					<div class="quantity">Number of Class: {{ class.students_in_class.count }}/{{ class.quantity }}</div>
					<br/>
						
					</div>
				</div>
			{% endfor %}
			<br/>
			{%  if ones_classes.paginator.num_pages > 1 %}
			<div class="pagination">
    <span class="step-links">
        {% if ones_classes.has_previous %}
            <a href="?page={{ ones_classes.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ ones_classes.number }} of {{ ones_classes.paginator.num_pages }}
        </span>

        {% if ones_classes.has_next %}
            <a href="?page={{ ones_classes.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
{% endif %}
		{% endif %}
	</div>
 {% endblock %}
{% block script %}

<script src="{% static 'class_management/js/js.js' %}"></script>
<script type="text/javascript">
$("#navigation-ul li").removeClass("active");
        $("#managerli").addClass("active");
$(".dropdown").addClass("active");
</script>
{% endblock %}