{% load url from future %}
{% load staticfiles %}


<a href = {% url 'classes:createclass' %}>Tao lop Hoc </a>
<h1>Danh Sach Lop Hoc</h1>
{% for class in ones_classes %}

<a href="{% url 'classes:classlist' %}">
{% if class.image_class %}
    <img src="{{ class.image_class.url }}" height=150 width=150/>
{% else %}
	<img src="{% static 'class_management/images/classroom.jpg' %}" height=150 width=150/>
{% endif %}
	{{ class.class_name }}</a>
	<a href="{% url 'classes:detailclass' class.id %}">Xem Thong Tin Lop Hoc</a>
	<a href="{% url 'classes:studentclass' class.id %}">Xem Thong Tin Hoc Sinh</a>
{% endfor %}