{% load url from future %}
{% load staticfiles %}
<head>
	<style>
		ul li {
			display: inline;
		}
	</style>
	<script language="javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
	<script src="{% static 'class_management/js/jquery2-1-1.js' %}"></script>
	<script src="{% static 'class_management/js/js.js' %}"></script>
</head>
<html>
<input type="image" src="{% static 'class_management/images/browse.png' %}" width="48" height="48" class="browse"/>
<form enctype="multipart/form-data"  method="post" action="" id="add_ques" onsubmit="return false;">
	{% csrf_token %}
    <input type="hidden" value={{ test.pk  }}/>
	{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>  
	{% endfor %}
    <input type="button" value="Them Cau Hoi" onclick="tam()"/>
</form>
<div id="testlist">
    {% for question in question_list %}
    <div>
        <span>{{ question.order_test }}. </span> {{ question.question }}
    </div>
    {% if question.image_ques and question.image_ques != "False" %}
        <img src="{{ question.image_ques.url }}" height=150 width=150/>
    {% endif %}
        <ol style='list-style-type: upper-alpha'>
                     <li>question.answerA</li>
                       <li>question.answerB</li>
                         <li>question.answerC</li>
                         <li>question.answerD</li>
                        </ol>
                    <div> Dap An Dung: {{ question.right_answer }}</div> 
    {% endfor %}
</div>
<script>
    var tam = function(){
        var data = new FormData($('form').get(0));
    	$.ajax({
    		type:"POST",
    		url : "{% url 'classes:createtest' chosen_class.pk chosen_lesson.pk chosen_test.pk %}",
    		dataType: "json",
    		data : data,
            processData: false,
            contentType: false,
    		success : function(question_dict){
                var html =  "<div>"
                        +       "<span>"+question_dict['order_test']+". </span>"+question_dict['question']
                        +   "</div>";
            if (question_dict['image_ques']){
                    html+=  "<img src = '"+ question_dict['image_ques']+"' height=150 width=150 />";
                }
                    html+=   "<ol style='list-style-type: upper-alpha'>"
                        +       "<li>"+question_dict['answerA']+"</li>"
                        +       "<li>"+question_dict['answerB']+"</li>"
                        +       "<li>"+question_dict['answerC']+"</li>"
                        +       "<li>"+question_dict['answerD']+"</li>"
                        +   "</ol>"
                        +   "<div> Dap An Dung: "+question_dict['right_answer']+"</div>";
    			$("#testlist").append(html);
   			},
   			error: function(errors_dict){
                var errors = JSON.parse(errors_dict.responseText);
                  $('.errorlist').remove();
                    for (error in errors) {
                        var id = '#id_' + error;
                        console.log(id);
                        $(id).parent().append(errors[error]);
                    }
			}
    		});
        return false;
	};
</script>
</html>
