{% load url from future %}
{% load staticfiles %}
<head>
	<script src="{% static 'class_management/js/jquery2-1-1.js' %}"></script>
	<script type="text/javascript" src="{% static 'class_management/js/flotr2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'class_management/js/js.js' %}"></script>
</head>
<html>

<h1>Danh Sach HOC SINH Trong Lop Hoc</h1>
<div style="width: 100px; height: 100px;" id="container"></div>
{% for student in student_list %}
{% if student.user_image and student.user_image != "False" %}
    <img src="{{ student.user_image.url }}" height=50 width=50/>
{% else %}
	<img src="{% static 'home/img/account.png' %}" height=50 width=50/>
{% endif %}
	{{ student.username }}
	<div style="width: 200px; height: 150px;" class="testchart"></div>
{% endfor %}

<script type="text/javascript">
	var tam = document.getElementsByClassName("testchart");
	var len = tam.length
	for(var i=0; i<len; i++){
      basic_pie(tam[i], {{ chart.d1 }}, {{ chart.d2 }}, {{ chart.d3 }}, {{ chart.d4 }} );
  }
    </script>
</html>