{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}ONLINE CLASS{% endblock %}</title>
        {% block link %}
          <link href="/static/home/css/bootstrap.min.css" rel="stylesheet">
          <link href="/static/home/css/bootstrap-theme.min.css" rel="stylesheet">
          <link href="/static/home/css/onlineclass.css" rel="stylesheet">
          <link href="{% static 'css/style.css' %}" rel="stylesheet">
          <script src="{% static 'class_management/js/jquery2-1-1.js' %}"></script>
          <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="welcome">
          <p class="header1">ONLINE CLASS</p>   
        </div>
        <div class="container">
          <div class="row">
             {% if user.is_authenticated %}
            <div class="col-xs-7 menu_bar">
              {% else %}
              <div class="col-xs-7 menu_bar menu_bar1">
              {% endif %}
               <img src="{% static 'images/htk-inc-logo.jpg' %}" height=150 width=150/>
               <div id="navigation" class="navbar navbar-inverse navbar-static-top" role="navigation">
              <div id="navigation" class="navbar-collapse collapse navbar-custom">
                <ul id="navigation-ul" class="nav nav-pills nav-stacked" style="color: white !important;">
                  <li id="homeli"><a href="{% url 'home:home' %}">HOME</a></li>
                  <li id="aboutli"><a href="{% url 'home:about' %}">ABOUT</a></li>
                  {% if user.is_authenticated %}
                    <li id="joinli"><a href="{% url 'study:study' %}">JOINED CLASSES</a></li>
                    <li id="learnli"><a role="menuitem" tabindex="-1" href="{% url 'classes:studentprocess' user.id %}">LEARNING PROCESS</a></li>
                    <li id="managerli"><a role="menuitem" tabindex="-1" href="{% url 'classes:classlist' %}">CLASS MANAGEMENT</a></li>
                  {% endif %}
                </ul>
          </div><!--end dropdown -->
            </div>
          </div>
            <div class="col-xs-5 login_form" >
              <div class="form-login">
                  {% if user.is_authenticated %}
                   <div class="header-login">
                     <p class="loginto"> WELCOME </p>  
                    </div>
                    <div class="header-user">
                      <div class="user-list">
                        <div class="header-image-profile">
                          {% if user.userprofile.user_image and user.userprofile.user_image != "False" %}
                            <img src="{{ user.userprofile.user_image.url }}" height=150 width=150 id="image_class"/>
                          {% else %}
                            <img src="{% static 'home/images/account.png' %}" height=150 width=150 id="image_class"/>
                          {% endif %}
                        </div>
                        <div class="header-text">
                          <h4 class="hello">Hello {{ user.username }}!</h4>
                          <span style="border-top: 1px solid rgb(102, 102, 102); display: block;"></span>
                          <div><a class="hello font-x" href="{% url 'home:profile'%}">Edit Profile</a></div>
                          <div><a class="hello font-x" href="{% url 'home:logout'%}">Log out</a></div>
                        </div>
                      </div> 
                    </div>
                  {% else %}
                   <div class="header-login">
                     <p class="loginto"> LOGIN </p>  
                    </div>
                <form class="form-horizontal" role="form" id="login_form" method="post" action="{% url 'home:home' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next_url }}"/>
                    <ul class="list-unstyled">
                      {% if error %}
                      <li class="text-danger" style="font-size: 18px;margin-left: 20px;}">
                          {{ error|safe }}
                      </li>
                      {% endif %}
                    </ul>
                    <input id="id_username" class="input" name="username" type="text" value="{{ username }}" placeholder="Username"/>
                    <br/>
                    <input id="id_password" class="input" name="password" type="password" placeholder="Password" />
                    <br/>
                    <div class="pull-right" style="margin-right: 15px;">
                    <button class="btn btn-primary" role="button" type="submit" style="margin-right: 20px;" name="login">LOG IN</button>
                    <a class="btn btn-primary" role="button" href="{% url 'home:register' %}" style="margin-right: 20px;">SIGN UP</a>
                  </div>
                </form>  
                  {% endif %}
              </div>
          </div>
          </div>
          
          {% block body %}

          {% endblock %}
        </div><!-- end contanier -->

     
      <div class="container">
        <div id="footer">
          <div class= "col-xs-6 col-md-4">
              <h4>Description</h4>
              <p> This is a Website for people learning that tool will help you in learning!!!</p>
              <p>  And the Sun will set for you !</p>
          </div>
          <div class= "col-xs-6 col-md-4">
              <h4>Contact</h4>
              <p>@2006 - 2013 HTK-INC. All rights reserved.</p>
              <p>PHONE: (+84) 100 202 989 </p>
              <p>EMAIL: htk-inc@gmail.com </p>
          </div>
          <div class= "col-xs-6 col-md-4">
              <h4>Follow Us</h4>
            <a href="#" class="icon"><img src="/static/images/facebook-icon.png"/>Facebook</a><br>
            <a href="#" class="icon"><img src="/static/images/google-icon.png"/>Google+</a><br>
            <a href="#" class="icon"><img src="/static/images/twitter-icon.png"/>Twitter</a><br>
          </div>
        </div>
      </div>
       {% block script %}
      {% endblock %}
    </body>
</html>