#ones_classes a,#detail_class a, #detail_lesson a {
    text-decoration: none;
}

#ones_classes .title, #create_test #testlist .title, #detail_lesson .title{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #B31B3B;
    margin-top: -64px;
}

#ones_classes .class_in_list {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 20px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}

#ones_classes .hover_detail {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 140px;
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

#ones_classes .chose_student {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#ones_classes .chose_class {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#ones_classes .create_date_class {
    font-size: 12px;
    text-align: right;
    color: blue;
}

#ones_classes .class_name {
    font-size: 20px;
    text-align: center;
    margin: 10px;
    color: red;
}

#detail_class #add_class_form, #detail_lesson #detail_lesson_form, #create_test #create_test_form, #detail_test #add_test_form{
	border: 5px groove rgb(137, 136, 170);
	padding: 20px;
	display: inline-block;
	float: left;
}
#detail_class .lesson{
    padding: 20px;
    border-top: 5px groove rgb(137, 136, 170);
    overflow: hidden;
}

#detail_class .lesson_wrapper{
	display: inline-block;
border: 5px groove rgb(116, 56, 56);
padding: 10px;
width: 177px;
height: 155px;
margin: 7px;
background: rgb(214, 210, 212);
}

#detail_class .date, #detail_lesson .date{
	font-size: 11px;
	
}
#detail_class .shortcut{
    word-wrap:break-word;
}
#detail_lesson .test_wrapper{
    background-image: url('/static/class_management/images/Text-Pen-icon.png');
    background-size: 38px 38px;
    background-position: 109px 3px;
    display: inline-block;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    height: 120px;
    width: 150px;
    background-color: rgb(125, 243, 163);
    margin-top: -10px
}
#detail_lesson .test_name{
    color: red;
    font-size: 15px;
    text-align: center;
}
#create_test #testlist .question{
    padding-left: 85px;
    overflow: hidden;
    padding-bottom: 12px;
}
#detail_lesson #detail_test{
    border-top: 5px groove rgb(137, 136, 170);
    overflow: hidden;
    padding-top: 15px;
    padding-left: 20px;
    background-image: url('/static/class_management/images/paper-clip.png');
    background-position:  550px 51px;
    background-repeat: no-repeat;
}
#detail_lesson #add_test_form{
    border: 1px solid #000000;
    float: right;
    display: inline-block;
    padding: 20px;
    padding-top: 30px;
    margin-right: 31px;
    margin-top: 50px;
}
#detail_test #testlist{
    border: 2px solid black;
    padding: 50px;
    width: 600px;
}