.nonhaving{
  margin-top: 20px; 
  text-align: center;
}
.btgroupclass{
    position: absolute;
    left: 40px;
    bottom: 25px;
}
.bg{
    border: 4px solid #e3e3e3;
    border-radius: 4px;
    background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(237,241,242,1)), color-stop(70%,rgba(232,244,247,1)), color-stop(100%,rgba(119,203,234,1))); /* Chrome,Safari4+ */
    padding: 10px;
    min-height: 615px;
    overflow: hidden;
    margin-left: -15px;
}
.pagination{
    float: right;
    margin-right: 100px;
    background: rgb(230, 225, 225);
    padding: 5px;
    clear: both;
}
.image_class{
    margin-right: 155px;
margin-top: 20px;
 width:100px;
  height:100px;
  margin-bottom: 5px;
  }
  .image_ques{
 width:100px;
  height:100px;
   margin-bottom: 5px;
  }
  .image_class:hover, .image_ques:hover{
    cursor: pointer;
  }
 
  .delete_btn{
    margin-top: 70px;
  }
   .delete_btn2{
    margin-top: 15px;
    margin-bottom: 15px;
  }
#ones_classes a,#detail_class a, #detail_lesson a {
    text-decoration: none;
}
#ones_classes h2{
    margin-left: 24px;
    font-size: 30px;
}
#home .contentclass a{
    display: block;
    background: rgba(255, 255, 255, 0.42);
    color: #B61A1A;
    padding: 10px;
    border: 1px solid #ccc;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
     -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out; 
}
#ones_classes .contentclass a{
    display: block;
    background: rgba(255, 255, 255, 0.42);
    color: #ffffff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
     -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out; 
}
#home .contentclass a:hover{
    background: rgba(255, 255, 255, 0.15);
}
#ones_classes .contentclass a:hover{
    background: rgba(255, 255, 255, 0.15);
}

#ones_classes .title,#student_detail .title, #create_test #testlist .title, #create_lesson .title, #detail_lesson .title, #detail_class .title, #create_class .title, #studentclass .title, #student_process .title{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #B31B3B;
}

#home .class_in_list {
    height: 180px;
    width: 180px;
    position: relative;
    margin: 10px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}
#home h2{
    color: white;
}
#ones_classes .class_in_list {
    height: 180px;
    width: 200px;
    position: relative;
    margin: 10px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}

#home .hover_detail {
    top: 140px;
    border-radius: 5px;
}
#ones_classes .hover_detail {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 125px;
    height: 180px;
    width: 200px;
    border-radius: 5px;
}
#home .create_date_class {
    display: block;
    color: rgb(8, 38, 199);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

#ones_classes .create_date_class {
    display: block;
    color: rgb(8, 38, 199);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

#ones_classes .quantity {
    display: block;
    color: rgb(8, 38, 199);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}
#home .class_name {
    color: white;
    text-align: center;
    font-weight: bold;
    background: #4D5155;;
    border-bottom: 1px solid #976043;
    -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
}

#ones_classes .class_name {
color: white;
text-align: center;
font-weight: bold;
background: #473E3A;
padding: 5px;
border-bottom: 1px solid #976043;
-webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
}
#home .contentclass {
   position: relative;
    text-align: center;
    padding: 15px;
    background: rgba(255, 255, 255, 0.18);
    -webkit-border-radius: 0px 0px 10px 10px;
    -webkit-box-shadow: 0 1px 2px 0 #555;
    box-shadow: 0 1px 2px 0 #555;
    border: 1px solid #555;
}
#ones_classes .contentclass {
   position: relative;
    text-align: center;
    padding: 15px;
    background: rgba(255, 255, 255, 0.18);
    -webkit-border-radius: 0px 0px 10px 10px;
}
#home .class_name h3{
    font-weight: 600;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 1.9em;
    text-transform: uppercase;
    text-align: center;
}
#ones_classes .class_name h3{
    font-weight: 600;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 1.9em;
    text-transform: uppercase;
    text-align: center;
}
#
#ones_classes .class_name h3{
    font-weight: 600;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 1.9em;
    text-transform: uppercase;
    text-align: center;
}
#create_class #add_class_form{
    margin: 0px auto;
    border: 5px groove rgb(137, 136, 170);
    padding-top: 30px;
    padding-right: 25%;
    padding-left: 25%;
    padding-bottom: 60px;
    margin-left: -15px;
}
#detail_class #add_class_form{
    border: 5px groove rgb(137, 136, 170);
    padding: 20px;
    float: left;
    width: 50%;
}

 #create_test #create_test_form{
	border: 5px groove rgb(137, 136, 170);
    padding: 20px;
    margin-top: 53px;
    margin-right: 2px;
    position: relative;
    padding-top: 5px;
}
#create_lesson #add_lesson_form, #detail_lesson #detail_lesson_form{
    border: 5px groove rgb(137, 136, 170);
    padding: 20px;
}
#detail_class .lesson{
    padding: 20px;
    border-top: 5px groove rgb(137, 136, 170);
    overflow: hidden;
}

#detail_class .lesson_wrapper{
	display: inline-block;
    margin: 7px;
    width: 235px;
}
#detail_class .lesson_wrapper:hover{
    background-color: rgb(212, 241, 248);
    cursor: pointer;
}

#detail_class .date, #detail_lesson .date{
	font-size: 11px;
	
}
#detail_class .shortcut{
    word-wrap:break-word;
}
#detail_lesson .test_wrapper{
    background-image: url('/static/class_management/images/Text-Pen-icon.png');
    background-size: 38px 38px;
    background-position: 127px 3px;
    display: inline-block;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(55, 18, 172);
}
#detail_lesson .test_name{
    color: red;
    font-size: 15px;
    text-align: center;
}
#detail_test #testlist .question{
    padding-left: 50px;
    overflow: hidden;
    padding-bottom: 12px;
}

#create_test #testlist .question{
    padding-left: 85px;
    overflow: hidden;
    padding-bottom: 12px;
}
#detail_lesson #detail_test{
    border-top: 5px groove rgb(137, 136, 170);
    overflow: hidden;
    padding-top: 15px;
    padding-left: 20px;
    background-image: url('/static/class_management/images/paper-clip.png');
    background-position:  189px 55px;
    background-repeat: no-repeat;
}

.bs-callout {
padding: 20px;
margin: 20px 0;
border-left: 5px solid #51A573;;
border-radius: 3px;
}
#detail_lesson{
    border-top: 5px groove rgb(137, 136, 170);
}
#detail_test #add_test_form2{
    border: 1px solid rgb(137, 136, 170);
    padding: 20px;
    padding-top: 30px;
    margin-top: 53px;
    float: left;
}

#detail_test #add_test_form{
    border: 5px groove rgb(137, 136, 170);
    padding: 20px;
    margin-top: 53px;
    margin-right: 2px;
    position: relative;
    padding-top: 5px;
}
.fixed_class{
    margin-top: 0px !important;
    margin-right: 0px !important;
    right: 89px;
    top: 0px;
    position: fixed!important;
}
#detail_test #test_list{
    overflow: hidden;
}
#detail_lesson #testlist{
    border: 2px solid black;
    padding: 50px;
    width: 600px;
}

.mycarousel{
    position: relative;
    border: 4px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 5px white;
    box-shadow: 0 0 2px #999;
    overflow: hidden;
}
.mycarousel ul{
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
#mycarousel li{
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px
}
#studentclass #bonus, #student_process #bonus{
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: 360px;
    right: 165px;
}

#studentclass #bonus #goodscore, #student_process #bonus #goodscore{
    background: #00A8F0;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
#studentclass #bonus #mediumscore, #student_process #bonus #mediumscore{
    background: #C0D800;
display: inline-block;
width: 15px;
height: 15px;
margin-right: 10px;
}
#studentclass #bonus #badscore, #student_process #bonus #badscore{
    background: #CB4B4B;
display: inline-block;
width: 15px;
height: 15px;
margin-right: 10px;
}

#studentclass #bonus #nonscore, #student_process #bonus #nonscore{
    background: #4DA74D;
display: inline-block;
width: 15px;
height: 15px;
margin-right: 10px;
}
#studentclass h1, #student_process h1{
    text-align: center;
}


#studentclass table#student_score_detail,#student_process table#student_score_detail{
    margin: 120px auto;
}

#studentclass table#student_score_detail td, #student_process table#student_score_detail td{
    padding-left: 25px;
    padding-right: 25px;
    line-height: 50px;
    text-align: center;
}
#studentclass table#student_score_detail th, #student_process table#student_score_detail th{
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    background: #832935;
    color: white;
    border: 1px solid #832935;
}

#test_history .fill-green{
    background: #7fffd4;
    color: red;
}
#test_history .substrate {
    float: left;
    position: relative;
    margin-bottom: 30px;
    padding: 15px 10px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    float: left;
}
#test_history .left-blue {
    border-left: 10px solid #2d7fb9;
    margin: 0 0 20px -10px;
    padding-left: 25px;
}
#test_history .muc {
    width: 283px;
    float: left;
    border-left: 10px solid #2d7fb9;
    padding-left: 10px;
}
#test_history .time-period-left-blue {
    margin-right: 15px;
    position: relative;
}
#test_history .time-period-right-blue {
    background: #2d7fb9;
    width: 125px;
    padding: 3px 10px;
    margin-left: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
}
#test_history .main-info-list li span {
    float: right;
    color: blue;
    width: 160px;
    margin-left: 20px;
}

#test_history .main-info-list {
    margin: 10px auto;
}

#test_history.time-period-left-blue:before {
    position: absolute;
    top: -5px;
    left: -28px;
    width: 25px;
    height: 25px;
    border: 6px solid #2d7fb9;
    border-radius: 15px;
    background: #fff;
    content: ' ';
}

#test_history .fill-green{
    padding-left: 35px;
    height: 45px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}

#test_history .substrate h2 {
    text-align: center;
    margin: 10px auto;
    color: red;
}

#test_history #student{
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    float: left;
    margin-right: 5px;
}


#test_history #sort{
    border-top: 1px solid black;
    margin-top: 20px;
}
#test_history #sort .title{
    background: #354543;
    color: #FFFFFF;
    font-weight: bold;
}

#test_history #sort img{
    height: 25px;
    width: 25px;
    margin: 8px;
    margin-right: 20px;
}
#test_history #sort_option div:hover{
    background: rgb(204, 198, 198);
    cursor: pointer;
}
#detail_test #add_text:hover{
    cursor: pointer;
}
#student_detail #image_student{
    float: left;
    margin-right: 50px;
    margin-left: 150px;
}
#student_detail #infor table#infor_table td{
    border: 1px solid black;
}

#student_detail #infor table {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#student_detail #infor table#infor_table td:first-child{
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    background: -webkit-gradient(linear, left top, right top, color-stop(17%,rgba(107,186,112,1)), color-stop(33%,rgba(150,224,130,1)), color-stop(60%,rgba(150,224,130,1)), color-stop(88%,rgba(150,224,130,1)), color-stop(100%,rgba(107,186,112,1))); /* Chrome,Safari4+ */
    color: #754B1E;
    font-weight: bold;
}
#student_detail #infor table#infor_table td:nth-child(2){
    border: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(37, 22, 146);
}
#student_detail #infor table#class_list_table{
    margin: 0px auto;
}
#student_detail #infor table#class_list_table th{
    padding-left: 100px;
    padding-right: 100px;
    background: gray;
    color: #FFFFFF;
    font-family: Vivaldi;
}
#student_detail #infor table#class_list_table td{
    text-align: center;
    line-height: 110px;
}
#student_detail caption{
    margin: 10px auto;
    color: red;
    font-size: 28px;
    font-weight: bold;
}