
#body{
    text-align: center;
    background-color: #f1f1f1;
}
#banner{
    height: 250px;
    width: 85%;
    margin: 0px auto;
    display: block;
}
#sidebar{
    border: 2px solid black;
    padding: 20px;
    float: right;
    top: -328px;
}
#mid_container{
    margin: 0px auto;
    width: 85%;
}
#side_content{
    margin-top: -200px;
    width: 175px;
}
#topmost{
    padding-left: 85px;
    padding-top: 20px;
    display: block;
    background-color: rgba(255, 255, 255, 0.690196)!important;
    /*margin-top: 80px;*/
}
#topmost li{
    display: inline-block;
    height: 100px;
    width: 200px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #CCC;
}
#topmost img{
    margin-right: 20px;
    height: 100px;
    width: 100px;
    float: left; 
    padding: 10px;
    border: 2px solid #5981AC;
}
.plus_info{
    text-align: center;
    background: #5A9DCA;
    color: #FFFFFF;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
}

#body-childer{
    position: fixed;
    width: 100%;
    height: 328px;
    background-image: url(http://static.wixstatic.com/media/41d000_c5a0ca1893896b25c0902ca4e23c63c3.png_srz_p_1068_868_75_22_0.50_1.20_0.00_png_srz);
    background-color: rgb(215, 215, 215);
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}
.welcome{
    height: 50px;
    display: block;
    background-color: rgba(255, 255, 255, 0.40392);
}
.header1{
    line-height: 20px;
    margin-left: 580px;
    margin-top: 15px;
    width: auto;
    display: inline-block;
    color:black;
}
.form-login{
    /*opacity: 0.8;*/
    margin-right:108px;
    background-color: rgba(255, 255, 255, 0.180392);
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
}
.form-login .input{
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 12px 15px;
    display: block;
    width: 88%;
    background: rgba(255, 255, 255, 0.42);
    outline: none;
    color: #ffffff;
    font-size: 1.35em;
    border: none;
    margin-left: 20px;
    -webkit-appearance: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.form-login span{
    display: block;
    color: #ffffff;
    font-size: 1em;
    text-transform: capitalize;
    font-weight: 400;
    margin-left: 30px;
    margin-bottom: 10px;

}
.form-login .header-login{
    background: #688B78;
    border-bottom: 1px solid #688B78;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
}

.button{
    border-radius: 0px;
    background-color: #688B78;
    border: 1px solid rgb(73, 73, 73);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font: normal normal normal 17px/1.4em 'noticia text', serif;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    display: inline-block;
    position: relative;
    padding-bottom: 10%;
    margin-left: 10%;
}
.hello{
    font-size: 30px !important;
    margin-top: 20px !important;
    color: white;
}

#navigation{
    background-color: rgba(8, 8, 8, 0.921569)!important;
   
}

#navigation-ul li{
     color: rgb(255, 255, 255)!important;
}

#footer{
    height: 245px;
    background-color: #53555e;
    border-style: solid none none;
    margin-top: 20px;
    border-top:1px solid white;
}
#footer h4{
    color: white;
    font: bold 28px/24px Arial, Helvetica, sans-serif;
    margin: 0;
    text-transform: uppercase;
    margin-left: 2px;
    margin-top: 30px;
    border-bottom: 2px solid white;
}
#footer p{
    color: white;
    font: bold 22px/24px Arial, Helvetica, sans-serif;
    margin: 0;
    margin-left: 2px;
    margin-top: 15px;
    border-right: 2px solid white;
}
#top9class{
    /*display: block;
    background-color: rgba(255, 255, 255, 0.890196)!important;
    margin-top: 7%;*/
}
.baner2{
    display: block;
}

.form-register{
    padding-top:20px;
    padding-bottom:50px;
    display: block;
    background-color: rgba(255, 255, 255, 0.741176);
    margin-bottom: 20px;
}
.form-register h1{
    margin-left: 30%;
}
.form-register2{
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 21%;
    background-color: rgba(255, 255, 255, 0.741176);
}
.form-register2 ul{
    list-style-type: none;
}
.form-register2 ul li{
    color: #8B008B;
    font: 25px/1 Helvetica, Verdana, sans-serif;
}
.form-register2 p label{
    margin-top: 3%;
    margin-left: 5%;
    font: normal normal normal 23px/1.4em 'times new roman', times, serif;
    color: rgb(0, 0, 0);
}
.form-register2 button{
    border-radius: 0px;
    background-color: rgb(39, 131, 137);
   
    border: 1px solid rgb(73, 73, 73);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font: normal normal normal 14px/1.4em 'noticia text', serif;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    display: inline-block;
    position: relative;
    padding: 2%;
    margin-left: 45%;
    padding-bottom: 6%;
}

.form-register input{
    border: 1px solid rgb(107, 163, 167);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding: 5px;
    width:70%;
    margin: 0px 0px 5px;
    margin-left: 10%;
    display: block;
}

#studylist{
    background-color: rgba(255, 255, 255, 0.890196)!important;
    width: 821px;
    float: left;
    margin-left: 162px;
}

#studylist .header{
    height: 65px;
    width: 821px;
    float: left;
    display: block;
}
#studylist .header h2{
    color: #2f2203 ;
    font: 30px/30px 'Abel-Regular';
    letter-spacing: 1px;
    display: block;
    float: left;
    margin-left: 40%;
}
#studylist .content{
    width: 821px;
    float: left;
    padding-bottom: 9%;
}

#studylist .classes {
    background-color: rgba(255, 255, 255, 0.741176);
    margin-left: 9%;
    margin-top: 6%;
    margin-right: 9%;
    float: left;
    display: block;
}
#studylist .classes .classes-header{
    display: block;
    background: #5981AC;
    border-bottom: 1px solid #5981AC;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
}
#studylist .classes .classes-header a{
    font-weight: 600;
    padding: 10px 10px;
    color: #ffffff;
    font-size: 1.8em;
    text-transform: uppercase;
    text-align: center;
    display: block
}
#studylist .classes .teacher {
    margin-left: 2%;
    font-size: 25px;
    margin-top: 20px;
    display: block;
}
#studylist .classes .date {
    margin-left: 60%;
    font-size: 20px;
    margin-top: 20px;
    display: block;
}
#studylist .classes img{
    margin-left: 37%;
    display: block;
    margin-top: 6%;
    border: 2px solid #5981AC;
}
#studyclass{
    display: block;
    width: 720px;
    background-color: rgba(255, 255, 255, 0.890196)!important;
    margin-left: 162px;
}
#studyclass h3{
    padding-top: 10%;
    font-size:35px;
}
#studyclass ul{
    list-style-type: none;
    margin-top: 20px;
}
#studyclass ul li{
    color: #8B008B;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    margin-top: 7%;
}
#studyclass button{
    border-radius: 0px;
    background-color: rgb(39, 131, 137);
    border: 1px solid rgb(73, 73, 73);
    font: normal normal normal 17px/1.4em 'noticia text', serif;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    display: inline-block;
    margin-top: 20px;
    padding-bottom: 10%;
    margin-left:65%;
}
#lesson{
    display: block;
    background-color: rgba(255, 255, 255, 0.890196)!important;
    padding-bottom: 30px;
    float:left;
}
#lesson .content-lesson{
    margin: 30px 50px 30px 50px;
}
#lesson .lesson-header-class{
    padding-top: 2%;
    padding-bottom: 2%;
    display: block;
    margin-left: 35%;
    font-size: 35px;
}
#lesson .lesson-header-lesson{
    font-size:26px;
}
#lesson h5{
    padding-top: 20px;
    padding-left: 200px;
}
#lesson .test{
    display: block;
    float: left;
    width: 680px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.890196)!important;
}
#lesson .test a{
    border-radius: 0px;
    background-color: rgb(39, 131, 137);
    border: 1px solid rgb(73, 73, 73);
    font: normal normal normal 20px/1.4em 'noticia text', serif;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    padding: 2%;
    margin-left: 20px;
    padding-bottom: 6%;
    float: left;
}

#test{
    display: block;
    float: left;
    margin-left: 215px;
    width: 720px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.890196)!important;
}
#test h2{
    padding-top: 20px;
    padding-left: 200px;
}
#test .button2{
    border-radius: 0px;
    background-color: rgb(39, 131, 137);
    border: 1px solid rgb(73, 73, 73);
    font: normal normal normal 30px/1.4em 'noticia text', serif;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding-bottom: 10%;
    margin-left:65%;
}
#test p{
    padding-top: 10px;
    padding-left: 30px;
    font-weight:bold;
}
#test input{
    font-weight:bold;
    margin-left: 50px;
}
#test span{
    margin-left: 20px;
}
#result{
    display: block;
    float: left;
    width: 720px;
    margin-left: 215px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.890196)!important;
}
#result h2{
  text-align: center;
}

#result button{
    border-radius: 0px;
    background-color: rgb(39, 131, 137);
    border: 1px solid rgb(73, 73, 73);
    font: normal normal normal 30px/1.4em 'noticia text', serif;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding-bottom: 10%;
    margin-left:30%;
    margin-bottom: 20px;
}
#result a{
    font-weight:bold;
    font-size:20px;
    margin-left: 20px;
}
#result p{
    padding-top: 10px;
    padding-left: 30px;
}
#joinclass{
    display: block;
    float: left;
    width: 720px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.890196)!important;
}
#joinclass button{
    border-radius: 0px;
    background-color: rgb(39, 131, 137);
    border: 1px solid rgb(73, 73, 73);
    font: normal normal normal 30px/1.4em 'noticia text', serif;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding-bottom: 10%;
    margin-left:62%;
}
#one_class img{
    border: 2px solid #B47859;;
    display: block;
    margin-left:50px;
}
.popular{
    background: #5981AC;
    border-bottom: 1px solid #5981AC;
    margin-top: 83px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
}
.popular h4{
    font-weight: 600;
    padding: 20px 20px;
    color: #ffffff;
    font-size: 1.9em;
    text-transform: uppercase;
    text-align: center;
    display: block;
}
.icon{
    color: black;
    display: inline-block;
    font: bold 22px/24px Arial, Helvetica, sans-serif;
    margin-left: 6px;
    margin-top: 27px;
}
.loginto{
    font-weight: 600;
    padding: 10px 10px;
    color: #ffffff;
    font-size: 1.8em;
    text-transform: uppercase;
    text-align: center;
}