{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %} Online Class {% endblock %}
{% block link %}
    {{ block.super }}
     <link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
{% endblock %}
{% block body %}
    <div id="about" style="margin-left: -15px;" class="bg">
        <hr class="header-after"/>
       <h1 class="title">Our Mission</h1>
       <hr class="header-after"/>
       <div class="content">
        Nowadays, When Web Technical did and are speading over the world, It's neccessary to create an enviroment to share and learn more.

        Online Class is an education platform that You Can Join with Teacher Role to Create Learning Class Or Join with Studen Role to take part in Classes available in this website. All Class is free and you absolutely join with us right after you want!
       </div>
       <hr class="header-after"/>
       <h1 class="title">How it work</h1>
       <hr class="header-after"/>
       <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
            <img src="{% static 'images/join_class.jpg' %}" height="300" width="300"/>
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <div class="subject">Discover a learning class and Join</div>
            <div class="content">
            Choose from class created over the world.See Details and If you like, you Can Join Any Class.
        </div>
        </div>
       </div>
       <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
            <div class="subject">Learn Lesson Available in Class</div>
            <div class="content">Watch short video lectures, take interactive Exercise</div>
        </div>
        <div class="col-xs-5 col-xs-offset-1">
             <img src="{% static 'images/learning.png' %}" height="300" width="300"/>
        </div>
       </div>
       <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
            <img src="{% static 'images/test.jpg' %}" height="300" width="300"/>
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <div class="subject"> Do the Exercise </div>
            <div class="content">Do Exercise in Lesson to help you understand deeply</div>
        </div>
       </div>
       <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
            <div class="subject">Manage Learning Process</div>
            <div class="content">All Classes you Joined, All Exercises you did will be totaled up</div>
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <img src="{% static 'images/student_process.jpg' %}" height="300" width="300"/>
        </div>
       </div>
       <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
            <img src="{% static 'images/create_class.jpg' %}" height="300" width="300"/>
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <div class="subject">Create Class</div>
            <div class="content">
            With Role of Teacher, You Can Create Any Class You Want! Creating Lesson, Creating Exercise For Class to make Class more attractive</div>
        </div>
       </div>
       <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
            <div class="subject">Manage Students Joined Class</div>
            <div class="content">All Student Joined Your Class Will Be Monitored By Teacher Created Class. Teacher Can Watch Student's Information, Classes They Joined and one's Process that they did exercises</div>
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <img src="{% static 'images/student_class.jpg' %}" height="300" width="300"/>
        </div>
       </div>
    </div><!-- end id home div -->
    {% endblock %}

    {% block script %}
    <script type="text/javascript">
        $("#navigation-ul li").removeClass("active");
        $("#aboutli").addClass("active");
    </script>
    {% endblock %}
