{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %} Online Class {% endblock %}
{% block link %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/skin.css' %}" />
    <script src="{% static 'class_management/js/jcarousel.js' %}"></script>
    <script src="{% static 'class_management/js/js.js' %}"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id="home">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>Recently Class</h2>
                <div class="mycarousel">
                <ul id="mycarousel" class="jcarousel-skin-tango" class="jcarousel">
                    {% for latest in recently_class %}
                        {% if latest.image_class and latest.image_class != "False" %}
                            <li><a href="{% url 'study:joinclass' latest.id %}"><img src="{{ latest.image_class.url }}" height=200 width=200/>
                            <div class="plus_info">{{ latest.class_name }} - {{ latest.create_date|date:"H:i d/m/Y" }}</div></a></li>
                        {% else %}
                            <li><a href="{% url 'study:joinclass' latest.id %}"><img src="{% static 'class_management/images/classroom.jpg' %}" height=200 width=200/>
                            <div class="plus_info">{{ latest.class_name }} - {{ latest.create_date|date:"H:i d/m/Y" }}</div></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
                <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
                </div>
            </div>
        </div><!--end row carousel-->
    
        <div class="col-md-8" id="top9class">
            <div id="ones_classes" class="hover_detail">
                <h2>CLASS LIST</h2>
                {% for class in all_class %}
                <div class="col-md-6" id="one_class">
                    {% if class.image_class and class.image_class != "False" %}
                        <img src="{{ class.image_class.url }}" height=180 width=180/>
                    {% else %}
                        <img src="{% static 'class_management/images/classroom.jpg' %}" height=180 width=180/>
                    {% endif %}
                    <div>
                        <div class="class_name">{{ class.class_name }}</div>
                        <a href="{% url 'study:joinclass' class.id %}" class="chose_class">Chi Tiết Lớp Học </a>
                        <div class="create_date_class">{{ class.create_date|date:"d/m/Y" }}</div>
                    </div>
                </div>
            {% endfor %}
            </div><!-- end id ones-classes div -->
        </div>
        <!--end class col-md-8 -->

        <div class="col-md-4">
            <h3 class="popular">POPULAR CLASS</h3>
            <ul id="topmost">
                {% for topest in top_student_class %}
                    <li>
                        <div class = "row">
                            <div class="col-md-7" >
                        {% if topest.image_class and topest.image_class != "False" %}
                            <a href="{% url 'study:joinclass' topest.id %}"><img src="{{ topest.image_class.url }}"/></a>
                        {% else %}
                            <a href="{% url 'study:joinclass' topest.id %}"><img src="{% static 'class_management/images/classroom.jpg' %}"/></a>
                        {% endif %}
                            </div>
                            <div class="col-md-4">
                                <h6>{{ topest.class_name }}</h6>
                            <div>{{ topest.students_in_class.count }}/{{ topest.quantity }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div><!-- end side_content  -->

    </div><!-- end id home div -->
    {% endblock %}

    {% block script %}
    <script>
        $('.mycarousel').jcarousel();
        $('.jcarousel-control-prev')
            .on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            })
            .on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            })
            .jcarouselControl({
                target: '-=2'
            });

        $('.jcarousel-control-next')
            .on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            })
            .on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            })
            .jcarouselControl({
                target: '+=2'
            });
    </script>
    {% endblock %}