{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
      {% block title %} Lop hoc Online {% endblock %}
    {% block link %}
   <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="/static/home/css/bootstrap.css" rel="stylesheet">
        <link href="/static/home/css/onlineclass.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
  <script src="{% static 'class_management/js/jquery2-1-1.js' %}"></script>
  <script src="{% static 'class_management/js/js.js' %}"></script>
    {% endblock %}
  </head>
  <body>
        {% block body %}
    <div id="ones_classes">
        {% for class in all_class %}
<div class="class_in_list">
{% if class.image_class and class.image_class != "False" %}
    <img src="{{ class.image_class.url }}" height=200 width=200/>
{% else %}
  <img src="{% static 'class_management/images/classroom.jpg' %}" height=200 width=200/>
{% endif %}
  </a>
  <div class="hover_detail">
  <div class="class_name">{{ class.class_name }}</div>
  
  <a href="{% url 'study:joinclass' class.id %}" class="chose_class">Chi Tiết Lớp Học </a>
  <div class="create_date_class">{{ class.create_date|date:"d/m/Y" }}</div>
  </div>
  </div>
{% endfor %}
</div>
        {% endblock %}
      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div><!--/.container-->
  </body>
</html>
