{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %} Details {% endblock %}
{% block link %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-1.7.1.min.js' %}"></script>  
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.18.custom.min.js' %}"></script>  
    <link href="{% static 'css/datepicker.css'%}" rel="stylesheet" type="text/css"/>  
{% endblock %}
{% block body %}
<div id="profile" class="bg">
  <div id="edit_form_fix">
    <div class="profile-content-form"> 
      <h3 class="title" style="margin-bottom: 55px;"> Profile Details Of {{user.username }}</h3>
      {% if success %}
        <div class="alert alert-success nonhaving" role="alert">
                    You Updated Profile Successful! </div>
      {% endif %}
      <div class="row" style="width: 75%;">
      <div class="col-md-3">
            {% if user.userprofile.user_image %}
                <img src="{{ user.userprofile.user_image.url }}" class="image_student" height="150" width="150"/>
            {% else %}
                <img src="{% static 'home/img/account.png' %}" class="image_student" height="150" width="150" />
            {% endif %}
        </div>
      <form id="edit_form" method ="POST" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <div class="col-md-5">
            {% for field in upuserform %}
              <div class="form-group">
                {{ field.label_tag }}<br/>{{ field }}
                <div class="text-danger">
                  {{ field.errors }}
                </div>
            </div>

            {% endfor %}
        </div>
            <div class="col-md-4">
            {% for field in upform %}
              <div class="form-group">
                {{ field.label_tag }}<br/>{{ field }}
                <div class="text-danger">
                  {{ field.errors }}
                </div>
            </div>
            {% endfor %}
             </div>
         </div>
         <div class="pull-right" style="margin-right: 330px;">
        <button class="btn btn-primary" type="submit" name="submit"/>Edit</button>
        <a class="btn btn-warning" rold="button" href="{% url 'home:home' %}">Cancel</a>  
    </div>
      </form>
    </div>
  </div>  
</div>
{% endblock %}   

{% block script %}
    <script src="{% static 'class_management/js/js.js' %}"></script>
    <script>
    $(document).ready(function(){
        $('input').css('margin-left', '20px');
        $("label[for='id_user_image']").parent().find('a').hide();
      $(".Cancel").click(function(){
        $(".profile-content").show();
        $("#edit_form_fix").css("display","none");
      });
      $(".Edit_profile_button").click(function(){
        $("#edit_form_fix").submit();
        window.location.reload()
      });   
        $( "#id_birthday" ).datepicker({
            dateFormat: 'yy-mm-dd',
            yearRange: "-40:+0",
            inline: true,  
            changeYear: true,
            showOtherMonths: true,  
            dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        });
    });
</script>
{% endblock %}