{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %} Online Class {% endblock %}
{% block body %}
<div class="form-register">
    <h1>Register with Online Class</h1>
    {% if registered %}
    <h2><strong>Thank for regiter!</strong></h2>
    <a href="{% url 'home:home' %}"> Return to homepage</a></br>
    {% else %}
    <form id="user_form" class="form-register2" method ="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
    <button type="submit" name="submit"/>Register</button>
    </form>
    {% endif %}
</div>    

{% endblock %}
{% block link %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/skin.css' %}"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <script src="{% static 'class_management/js/jcarousel.js' %}"></script>
    <script src="{% static 'class_management/js/js.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery-1.7.1.min.js' %}"></script>  
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.18.custom.min.js' %}"></script>  
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" type="text/css"/>  
    <link href="{% static 'css/datepicker.css'%}" rel="stylesheet" type="text/css"/>  

    <script>
    $(document).ready(function(){
    $(function() {
        $( "#id_birthday" ).datepicker({
            dateFormat: 'yy-mm-dd',
            yearRange: "-40:+0",
            inline: true,  
            changeYear: true,
            showOtherMonths: true,  
            dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        });
    });  
  });
</script>
{% endblock %}