{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %} Online Class {% endblock %}
{% block link %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/skin.css' %}" />
    <script src="{% static 'class_management/js/jcarousel.js' %}"></script>
    <script src="{% static 'class_management/js/js.js' %}"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<div id="joinclass">
  {% if joined %}
    <h3>{{ join_class }}</h3>
  {% for lesson in all_lesson %}
  <ul>
    <li>{{ lesson.lesson_name }}</li>
  </ul>
  {% endfor %} 
  <form enctype="multipart/form-data" method="post" action="" id="add_ques">
  {% csrf_token %}
    <button type="submit"> Join </button>
  </form>
  {% else %}
  <h3>Congratulation!! You joined class!! </h3>
  <a href="{% url 'study:study' %}">Back to list class </a>
  {% endif %}
</div>
{% endblock %}
