{% extends 'base.html' %}
{% load url from future %}
{% load test_score %}
{% load staticfiles %}
{% block title %} Online Class {% endblock %}
{% block body %}

   {% if chosen_class.enable = 'T' %}
   {% if joined %} 
<div id="lesson" class="bg">
  <div class="content-lesson">
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
  <h3 class="lesson-header-class">
    {% if chosen_class.image_class and chosen_class.image_class != False %}
        <img src="{{ chosen_class.image_class.url }}" height="100" width="100" style="margin-right: 50px"/>
    {% else %}
        <img src="{% static 'class_management/images/classroom.jpg' %}" height="150" width="150"  style="margin-right: 50px"/>
    {% endif %}
    {{ chosen_class}}</h3>
  </div>
  <div class="col-md-7 col-md-offset-1">
  <h3 class="lesson-header-lesson">{{ chosen_lesson}} <span class="create_date">{{ chosen_lesson.create_date|date:"H:i d/m/Y" }}</span></h3>
   
  <div class="des">{{chosen_lesson.description|safe}}</div>
</div>
</div>
<div class="row">
  <iframe class= "col-xs-10 col-xs-offset-1" height="500" src="{{chosen_lesson.video_link}}" frameborder="0" allowfullscreen></iframe>
</div>
  <br>
    <div class="test">
      <h2> EXERCISES IN THIS LESSON </h2>
    {% for test in all_test %}  
      <a class="panel panel-primary one_test" href="{% url 'study:test' chosen_class.pk chosen_lesson.id test.id %}">
              <div class="panel-heading">{{test.test_name}}<span style="float:right;"><span class="none_score" >{% get_score user test %}</span><span>/{{ test.question_set.count }}</span></span></div>
              <div class="panel-body">
                <p class="date">Create Date {{ test.create_date|date:"H:i d/m/Y" }}</p>
                <p class="date">Update Date {{ test.latest_update_date|date:"H:i d/m/Y" }}</p>
                <p class="date">Latest Work {% get_latest_date user test %} </p>
              </div>
          </a>
    {% endfor %}
    </div>
    {% if all_test.paginator.num_pages > 1 %}
          <div class="pagination">
              <span class="step-links">
                  {% if all_test.has_previous %}
                      <a href="?page={{ all_test.previous_page_number }}">Previous</a>
                  {% endif %}

                  <span class="current">
                      Page {{ all_test.number }} of {{ all_test.paginator.num_pages }}
                  </span>

                  {% if all_test.has_next %}
                      <a href="?page={{ all_test.next_page_number }}">Next</a>
                  {% endif %}
              </span>
          </div>
          {% endif %}
  </div>
  </div>
</div>  
  {% else %}
  <div>
  <p class="bg-danger" style="font-size:27px;">You must join class</p>
  </div>
  {% endif %}
    {% else %}
  <div>
    <img src="{% static 'class_management/images/block.png' %}" height=50 width=50 style="border: 0px;"/>
    <p class="bg-danger" style="font-size:27px;">The class was disabled! Please go home page.</p>
  </div>
  {% endif %}


  {% endblock %}


{% block link %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
{% endblock %}
{% block script %}
<script type="text/javascript">
$("#navigation-ul li").removeClass("active");
        $("#joinli").addClass("active");
        console.log($(".none_score"));
        var none =  $(".none_score");
        var len = none.length;
        for(var i = 0; i<len; i++){
          console.log(none.get(i));
          console.log(none.get(i).innerHTML);
        if (none.get(i).innerHTML === 'None'){
          none[i].style.color = "rgb(190, 10, 10)" ;
          none[i].style.fontSize = 'larger';
        }
      }
        </script>
{% endblock %}
