{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %} Online Class {% endblock %}
{% block link %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/skin.css' %}"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'class_management/css/style.css' %}" rel="stylesheet"/>
    <script src="{% static 'class_management/js/jcarousel.js' %}"></script>
    <script src="{% static 'class_management/js/js.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% endblock %}
{% block body %}
  <div id="studyclass" class="bg">
    {% if leave %}
    <h3 class="bg-info title_leave">You leaved This class Successful!! See you again</h3>
      <a href="/study/study/" role="button" class="btn btn-primary pull-right" style="margin-top: 20px;">Go To Your Classes</a>
    {% else %}
    <div class="text-center">
    <h3 style="color: #352354">
      {% if join_class.image_class and join_class.image_class != False %}
        <img src="{{ join_class.image_class.url }}" height="150" width="150" style="margin-right: 50px"/>
      {% else %}
        <img src="{% static 'class_management/images/classroom.jpg' %}" height="150" width="150"  style="margin-right: 50px"/>
      {% endif %}
        <h3>{{ join_class }}</h3>
    <div class="des">{{ join_class.description|safe }}</div>
</div>
    <ul>
    {% for lesson in all_lesson %}
      <li><a href="{% url 'study:lesson' join_class.pk lesson.id %}"><img src="{% static 'images/circle-icon.png' %}" style="margin-right: 15px;"/>{{ lesson.lesson_name }}</a><br/>
    <div class="create_date">{{ lesson.create_date|date:"H:i d/m/Y" }}</div>
    <div style="margin-left: 50px;word-break: break-all;">{{ lesson.description|safe }}</div>
        </li>
      {% endfor %}  
    </ul>
    {% if all_lesson.paginator.num_pages > 1 %}
                            <div class="pagination">
                            <span class="step-links">
                                {% if all_lesson.has_previous %}
                                    <a href="?page={{ all_lesson.previous_page_number }}">Previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ all_lesson.number }} of {{ all_lesson.paginator.num_pages }}
                                </span>

                                {% if all_lesson.has_next %}
                                    <a href="?page={{ all_lesson.next_page_number }}">Next</a>
                                {% endif %}
                            </span>
                        </div>
                        {% endif %}
    {% if joined %}
    <form enctype="multipart/form-data"  method="post" action="">
      {% csrf_token %}
      <button type="submit" class="btn btn-success btn-lg" name="leave"> Leave class </button>
    </form>
    {% elif user.is_authenticated %}
    <form enctype="multipart/form-data"  method="post" action="">
      {% csrf_token %}
      <button type="submit" class="btn btn-success btn-lg" name="join"> Join class </button>
    {% else %}
      <button class="btn btn-success btn-lg" onclick="$('#check_dialog').dialog('open');"> Join class </button>
    </form>
    {% endif %}
        <div id="check_dialog" title="Not Log In">
          <p class="text-center">You have to LOGIN Website To JOIN This CLASS.</p>
        </div>
    {% endif %}
  </div>  
{% endblock body %}
{% block script %}
<script type="text/javascript">
$("#navigation-ul li").removeClass("active");
        $("#joinli").addClass("active");
        $( "#check_dialog" ).dialog({
          autoOpen: false,
          modal: true,
          buttons: {
            Ok: function() {
              $( this ).dialog( "close" );
            }
          }
        });
        </script>
{% endblock %}