{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %} Online Class {% endblock %}
{% block link %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'class_management/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/skin.css' %}"/>
    <script src="{% static 'class_management/js/jcarousel.js' %}"></script>
    <script src="{% static 'class_management/js/js.js' %}"></script>
{% endblock %}
{% block body %}
<div class="bg">
  <div id="studylist">
    <div class="header">
      <h2>YOUR JOINED CLASSES</h2>
    </div>
    <div class="content">
      {% for class in all_class %}
          <div class="classes">
            {% if class.enable == 'T' %}
            <div class="row">
            {% else %}
           <div class="row" style="opacity: 0.65;">
            {% endif %}
              <div class="image_class col-md-5">
                {% if class.image_class and class.image_class != "False" %}
                  <img src="{{ class.image_class.url }}" height=150 width=150/><br>
                {% else %}
                 <img src="{% static 'class_management/images/classroom.jpg' %}" height=150 width=150/>
                {% endif %}
              </div>
            <div class="col-md-6 study_content">
              <div class="class_name">{{ class.class_name }}</div>
              <div class="teacher">Teacher: {{ class.teacher }}</div>
              <div class="teacher">Description: </div>
              <div>{{ class.description|safe }}</div>
              <div class="date">Created Date: {{ class.create_date }}</div>
            </div>
            <div class="col-md-1">
              {% if class.enable = 'T' %}
              <a href="{% url 'study:studyclass' class.id %}" role="button" class="btn btn-success">Resume Learn</a>
              </div>
          </div>
              {% else %}
                 <img src="{% static 'class_management/images/block.png' %}" height=50 width=50 style="border: 0px;"/>
                   </div>
                 </div>
              <a href="{% url 'study:leaveclass' class.id %}" role="button" class="btn btn-success pull-right" style="opacity: 1; margin-right: 4%;">Leave Class</a>
              {% endif %}
        </div>
      {% endfor %}
        {%  if all_class.paginator.num_pages > 1 %}
            <div class="pagination">
                <span class="step-links">
                    {% if all_class.has_previous %}
                        <a href="?page={{ all_class.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ all_class.number }} of {{ all_class.paginator.num_pages }}
                    </span>

                    {% if all_class.has_next %}
                        <a href="?page={{ all_class.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
      </div>
    </div>
  </div>
  {% endblock %}
{% block script %}
<script type="text/javascript">
$("#navigation-ul li").removeClass("active");
        $("#joinli").addClass("active");
        </script>
{% endblock %}
