{% load url from future %}
{% load staticfiles %}
<head>
  <script language="javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
  <script src="{% static 'class_management/js/jquery2-1-1.js' %}"></script>
</head>

<h2>Ban hay lam bai tap</h2>
<div>{{ answer3 }}</div>
<div id="div1">
<form enctype="multipart/form-data"  class="dynamic-form" method="POST" id="question" action="{% url 'study:result' chosen_class.pk chosen_lesson.pk chosen_test.pk %}">
  {% csrf_token %}
  <input class="question_id"  name="question_id" value = "{{ one_question.id  }}"/>
  <input class="order" name="number" value ="{{ one_question.order_test}}"/>
  <input class="answer_user" name="answer_user"/>
  <p class="numbertest">{{one_question.order_test}}</p>
  <p class="question">{{ one_question.question}}</p>

  <input class="1" type="radio" name="answer" value="A" /><span class="span1">{{ one_question.answerA }} </span><br>
  <input class="2" type="radio" name="answer" value="B" /><span class="span2">
  {{ one_question.answerB }}</span><br>
  <input class="3" type="radio" name="answer" value="C" /><span class="span3">{{ one_question.answerC }}</span><br>
  <input class="4" type="radio" name="answer" value="D" /><span class="span4">{{ one_question.answerD }}</span><br>
  <input class="button2" type="button" value="Next" onclick="next()"/>
</form>

<!-- <form action="{% url 'study:result' chosen_class.pk chosen_lesson.pk chosen_test.pk %}">
<button type ="POST"> Xong</button>
</form> -->

</div>

<script>
var next = function(){
  var data = new FormData($('form').get(0));
  $.ajax({
    type: "POST",
    url: "{% url 'study:question' chosen_test.pk %}",
    data: data,
    dataType: "json",
    processData: false,
    contentType: false,
    success: function(topic_list) {
      order  = topic_list.load['order_test']
      lenght = topic_list.load['lenght'];
      if (order<=lenght){
      $(".order").val(topic_list.load['order_test']);
      $(".question_id").val(topic_list.load['id']);
      $(".answer_user").val(topic_list.array_user_choose);
      $(".numbertest").html(topic_list.load['order_test']);
      $(".question").html(topic_list.load['question']);
      $(".1").prop("checked", false)
      $(".2").prop("checked", false)
      $(".3").prop("checked", false)
      $(".4").prop("checked", false)
      $(".span1").html(topic_list.load['answerA']);
      $(".span2").html(topic_list.load['answerB']);
      $(".span3").html(topic_list.load['answerC']);
      $(".span4").html(topic_list.load['answerD']);
      }
      if (order==lenght+1){
        console.log("qua han roi");
        $(".answer_user").val(topic_list.array_user_choose);
        $(".order").val(topic_list.load['order_test']);
        $(".button2").trigger( "click" );
      }
      if(order==lenght+2){
        console.log("xing");
        $(".button2").attr('type','submit');
        $(".button2").trigger( "click" );
      }    
    }
  });
  return false;
};
</script>